:root {
    --title-color: #16161a;
    --gray-bg: rgba(155,155,155,0.05);
    --tag-color: #FFFFFF;
    --tag-bg: #fd3a13; 
    --meta-color: #97979d;
    --radius: 2px;
    --title-weight: 700;
    --light-weight: 300;
    --primary-color: #37517e;
}
main {
    margin-top: 96px;
}

.primary-btn {
    background-color: var(--primary-color);
    color: #FFF;
    border-color: var(--primary-color);
}

.primary-btn:hover {
    background-color: #FFF;
    color: var(--primary-color);
    transition: background-color 0.5s;
}

.invalid-feedback { display: none; }

.hide { display: none;}


.navbar-simply-blog {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    box-shadow: 1px 0px 20px -10px #000;
}

.account-menu { display: none; }

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color);
}

.py-10 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.carousel-inner {
    max-height: 600px;
}

@media(max-width: 420px){
    .carousel-inner {
        height: 221px;
    } 
}

.trend-card {
    display: flex;
}

.trend-no {
    color: #ccc;
    letter-spacing: 0;
    font-size: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    flex: 0 0 auto;
    width: 40px;
    top: -10px;
    margin-right: 16px;
    position: relative;
}

.trend-author {
    display: flex;
}

.authorpic img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 10px;
}

.trend-authname {
    line-height: 16px;
    font-size: 13px;
    font-weight: 500;
    word-break: break-all;
    padding-right: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.trend-title {
    max-height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.trend-title a { color: #000; text-decoration: none; }

.trend-date {
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.content-section .content-block {
    float: left;
    width: 100%;
}

.block1-items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: start;
    grid-gap: 25px;
}

.block1-items .cs .entry-inner {
    height: 335px;
}
.cs .entry-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.block1-items .cs .entry-image-wrap {
    width: 100%;
    height: 100%;
}
.entry-image-wrap, .author-avatar-wrap, .comments .avatar-image-container {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: var(--gray-bg);
    z-index: 5;
    color: transparent;
}


.entry-image.pbt-lazy, .author-avatar.pbt-lazy {
    opacity: 1;
}

.entry-image, .author-avatar {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    transform-origin: center;
    opacity: 0;
    transition: opacity .35s ease,transform .35s ease;
}

.entry-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.65));
    overflow: hidden;
    z-index: 10;
    padding: 15px;
}
.entry-header {
    display: flex;
    flex-direction: column;
}

.entry-info .entry-category {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 10px;
}
.entry-category {
    display: flex;
    align-items: center;
    height: 17px;
    background-color: var(--tag-bg);
    font-size: 10px;
    color: var(--tag-color);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0;
    padding: 1px 7px 0;
    border-radius: var(--radius);
}

.block1-items .cs .entry-title {
    font-size: 21px;
}

.entry-info .entry-title {
    color: #fff;
    text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.entry-title {
    color: var(--title-color);
    font-weight: var(--title-weight);
    line-height: 1.35em;
}

.block1-items .cs .entry-meta {
    flex-wrap: wrap;
}

.entry-info .entry-meta {
    color: #c5c5ca;
    text-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.entry-meta {
    display: flex;
    font-size: 12px;
    color: var(--meta-color);
    font-weight: var(--light-weight);
    margin: 4px 0 0;
}

.entry-meta .mi, .entry-meta .sp {
    margin: 0 4px 0 0;
}
.entry-meta .mi {
    display: flex;
}

.block1-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.block1-list .block1-item {
    display: flex;
}
.block1-list .entry-image-wrap {
    width: 98px;
    height: 65px;
    margin: 0 13px 0 0;
}

.block1-list .entry-header {
    flex: 1;
}

.block1-list .entry-title {
    font-size: 14px;
}

.entry-title {
    color: #16161a;
    font-weight: var(--title-weight);
    line-height: 1.35em;
}

.entry-title a {
    display: block;
    color: var(--title-color);
}

.entry-meta {
    display: flex;
    font-size: 12px;
    color: var(--meta-color);
    font-weight: var(--light-weight);
    margin: 4px 0 0;
}

.ad-img {
    max-height: 400px;
}

.footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

.footer-newsletter h2 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}

.footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 6%);
    text-align: left;
}

.footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

.footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #37517e;
    font-size: 12px;
}

.page-title {
    font-size: 2rem;
}

/* Login Page */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

/* Blog Index Page */

.automobile-banner, .finance-banner, .health-banner, .travel-banner, .technology-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/automobile-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    color: #FFF;
    position: relative;
}

.automobile-banner h1 {color: #FFF;font-size: 4rem;}

.finance-banner { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/finance-banner.jpg);
}

.health-banner { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/health-banner.jpg);
}

.travel-banner { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/travel-banner.jpg);
}

.technology-banner { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/technology-banner.jpg);
}

@media(max-width: 412px){
    .automobile-banner h1 {color: #FFF;font-size: 3rem;}
}

.banner-bg {
    background-color: rgba(0,0,0,0.95)
}

.card .bg-image { height: 233px; overflow: hidden;}

.quill-editor {
    height: 300px;
}
